@font-face {
    font-family: 'Marianne';
    src: url('fonts/marianne/Marianne-Regular.woff2') format('woff2'),
        url('fonts/marianne/Marianne-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Marianne';
    src: url('fonts/marianne/Marianne-Bold.woff2') format('woff2'),
        url('fonts/marianne/Marianne-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}



body {
    font-family: 'Marianne', Arial, sans-serif;
    background-color: #f4f4f4;
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container a {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.container a:hover {
    background-color: #45a049;
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    text-align: center;

    padding: 20px 0;

}

header img {
    max-width: 200px;
}